{% block content %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

form{
    text-align: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 70%;
    padding: 1px;
    border-radius: 5px;
}

input{
width: 80%;
height: 40px;
margin-bottom: 25px;
border: 1px solid #777;
border-radius: 5px;
}

button{
    width: 40%;
	height: 40px;
	border-radius: 5px;
    border: none;
	color: #fff;
	background-color: #8B20BB;
	transition: .4s;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

button:hover{
    color: black;
	background-color: transparent;
	border: 2px solid #8B20BB;
	cursor: pointer;
}

label{
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
}

p{
	font-family: 'poppins', sans-serif;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 4rem;
	margin-top: 2rem;
}

a{
	text-decoration: none;
	font-family: 'poppins', sans-serif;
	font-weight: 500;
	font-size: 1rem;

}

h2{
	font-family: 'poppins', sans-serif;
	font-weight: 600;
	font-size: 2rem;
}
</style>

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }} 

    	<label for="">Email Address:</label><br>
        <input type="email" id="email" name="email" placeholder="Enter your email address"><br>
		<button class="btn btn-primary" type="submit">Send email</button><br>
		<a href="/signin">go back to signin</a>
        </form>
  	</div> 
	

{% endblock %}
